{#
  This file is part of GGM
  Copyright(c) GGM All Rights Reserved.
#}
<footer>
  <div class="container ggm-footer-contents">
    <div class="row">
      <div class="col-lg-4">
        <ul>
          <li>
            <a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }} ホーム</a>
          </li>
          <li>
            <a href="{{ url('help_about') }}">{{ 'front.block.footer.about_us'|trans }}</a>
          </li>
          <li>
            <a href="{{ url('contact') }}">{{ 'front.block.footer.inquiry'|trans }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul>
          <li>
            <a href="{{ url('help_tradelaw') }}">{{ 'front.block.footer.act_on_specified_commercial_transactions'|trans }}</a>
          </li>
          <li>
            <a href="{{ url('help_privacy') }}">{{ 'front.block.footer.privacy_policy'|trans }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul> 
          <li>
            <a href="/help/agreement" target="_blank">利用規約</a>
          </li>
          <li>
            <a href="https://twitter.com/aonuma_moriri" target="_blank">Twitter moriri</a>
          </li>
          <li>
            <a href="https://twitter.com/GGM06605451" target="_blank">Twitter GGM</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="copy-right text-center">copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</p>
  </div>
</footer>









