<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ block('sub_title') }} {{ block('title') }} - {{ BaseInfo.shop_name }}</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/html/template/default/assets/img/favicons/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/html/template/default/assets/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/html/template/default/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/html/template/default/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/html/template/default/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/html/template/default/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/html/template/default/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/html/template/default/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/html/template/default/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/html/template/default/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/html/template/default/assets/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/html/template/default/assets/img/favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/html/template/default/assets/img/favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/html/template/default/assets/img/favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/html/template/default/assets/img/favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/html/template/default/assets/img/favicons/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/html/template/default/assets/img/favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/html/template/default/assets/img/favicons/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/html/template/default/assets/img/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/html/template/default/assets/img/favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/html/template/default/assets/img/favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/html/template/default/assets/img/favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/html/template/default/assets/img/favicons/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/html/template/default/assets/img/favicons/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/html/template/default/assets/img/favicons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/html/template/default/assets/img/favicons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/html/template/default/assets/img/favicons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/html/template/default/assets/img/favicons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/html/template/default/assets/img/favicons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/html/template/default/assets/img/favicons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/html/template/default/assets/img/favicons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/html/template/default/assets/img/favicons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/html/template/default/assets/img/favicons/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/html/template/default/assets/img/favicons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/html/template/default/assets/img/favicons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/html/template/default/assets/img/favicons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="/html/template/default/assets/img/favicons/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/html/template/default/assets/img/favicons/icon-32x32.png">
    <link rel="manifest" href="/html/template/default/assets/img/favicons/manifest.json">


    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
    <link rel="stylesheet" href="{{ asset('assets/css/ladda-themeless.min.css', 'admin') }}"></link>
    <link rel="stylesheet" href="{{ asset('assets/css/app.css', 'admin') }}">
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>
    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', {snippets: plugin_assets}) }}{% endif %}
</head>
<body id="page_{{ app.request.get('_route') }}" class="ggm">
<header class="c-headerBar">
    <div class="c-headerBar__container">
        <div class="c-headerBar__logo">
            <h1><img src="{{ asset('assets/img/logo@2x.png', 'admin') }}"></h1>
        </div>
        <a class="c-headerBar__toggleBtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a class="c-headerBar__shopTitle" href="{{ url('homepage') }}" target="_blank"><span>{{ BaseInfo.shop_name }}</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a class="c-headerBar__userMenu"
           data-container="body"
           data-toggle="popover"
           data-placement="bottom"
           title="{{ 'admin.header.last_login'|trans }}"
           data-content="&lt;p&gt;{{ app.user.login_date|date_min }}&lt;/p&gt;&lt;a href='{{ url("admin_change_password") }}' class='btn btn-ec-regular btn-block'&gt;{{ 'admin.header.change_password'|trans }}&lt;/a&gt;&lt;a href='{{ url("admin_logout") }}' class='btn btn-ec-sub btn-block'&gt;{{ 'admin.header.logout'|trans }}&lt;/a&gt;"
           data-html="true"><i class="fa fa-user-circle" aria-hidden="true"></i><span>{{ 'admin.header.user_name'|trans({'%name%':app.user.name}) }}</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</header>
<div class="c-container">
    <div class="c-mainNavArea">
        {{ include('@admin/nav.twig') }}
    </div>
    <div class="c-curtain"></div>
    <div class="c-contentsArea">
        <div class="c-pageTitle">
            <div class="c-pageTitle__titles">
                <h2 class="c-pageTitle__title">{{ block('title') }}</h2><span class="c-pageTitle__subTitle">{{ block('sub_title') }}</span>
            </div>
        </div>

        {{ include('@admin/alert.twig') }}

        {% block main %}{% endblock %}

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/vendor/spin.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/ladda.min.js', 'admin') }}"></script>
{% include('@common/lang.twig') %}
<script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
{% block javascript %}{% endblock %}
{# プラグイン用Snippet #}
{% if plugin_snippets is defined %}
    {{ include('@admin/snippet.twig', {snippets: plugin_snippets}) }}
{% endif %}
</body>
</html>
