{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'ggm-cart_page cart_page' %}

{% block main %}
<div class="ggm-ec-role ec-role">
  <div class="ggm-ec-page-header ec-pageHeader">
    <h1>{{ 'front.shopping.complete_title'|trans }}</h1>
  </div>
</div>
hoge
<div class="ggm-ec-cart-role ec-cartRole">
  <div class="ggm-ec-cart-role-progress ec-cartRole__progress">
    <ul class="ggm-ec-progress ec-progress">
      {% set step = 1 %}
      <li class="ggm-ec-progress-item ec-progress__item">
        <div class="ggm-ec-progress-number ec-progress__number">{{ step }}{% set step = step + 1 %}
        </div>
        <div class="ggm-ec-progress-label ec-progress__label">{{ 'front.cart.nav__cart_items'|trans }}
        </div>
      </li>
      {% if is_granted('ROLE_USER') == false %}
        <li class="ggm-ec-progress-item ec-progress__item">
          <div class="ggm-ec-progress-number ec-progress__number">{{ step }}{% set step = step + 1 %}
          </div>
          <div class="ggm-ec-progress-label ec-progress__label">{{ 'front.cart.nav__customer_info'|trans }}
          </div>
        </li>
      {% endif %}
      <li class="ggm-ec-progress-item ec-progress__item">
        <div class="ggm-ec-progress-number ec-progress__number">{{ step }}{% set step = step + 1 %}
        </div>
        <div class="ggm-ec-progress-label ec-progress__label">{{ 'front.cart.nav__order'|trans }}
        </div>
      </li>
      <li class="ggm-ec-progress-item ec-progress__item">
        <div class="ggm-ec-progress-number ec-progress__number">{{ step }}{% set step = step + 1 %}
        </div>
        <div class="ggm-ec-progress-label ec-progress__label">{{ 'front.cart.nav__confirm'|trans }}
        </div>
      </li>
      <li class="ggm-ec-progress-item ec-progress__item  is-complete">
        <div class="ggm-ec-progress-number ec-progress__number">{{ step }}{% set step = step + 1 %}
        </div>
        <div class="ggm-ec-progress-label ec-progress__label">{{ 'front.cart.nav__complete'|trans }}
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="ggm-ec-cart-complete-role ec-cartCompleteRole">
    <div class="ggm-ec-off-3grid ec-off3Grid ec-text-ac">
        <div class="ggm-ec-off3grid-cell ec-off3Grid__cell">
            <div class="ggm-ec-report-heading ec-reportHeading">
                <h2>{{ 'front.shopping.complete_message__title'|trans }}</h2>
            </div>
            <p class="ggm-ec-report-description ec-reportDescription">
                {{ 'front.shopping.complete_message__body'|trans|nl2br }}
                {% if Order.id %}
                    <br /><br /><strong>{{ 'front.shopping.order_no'|trans }} : {{ Order.orderNo }}</strong>
                {% endif %}
            </p>

            {% if Order.complete_message is not empty %}
                {{ Order.complete_message|raw }}
            {% endif %}

            <div class="ggm-ec-off4grid ec-off4Grid">
                {% if hasNextCart %}
                    <div class="ggm-ec-off4grid-cell ec-off4Grid__cell"><a class="ec-blockBtn--primary" href="{{ url('cart') }}">{{ 'front.shopping.continue'|trans }}</a></div>
                {% else %}
                    <div class="ggm-ec-off4grid-cell ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ 'common.go_to_top'|trans }}</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
